
<% @user.jobs.build %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email,  :value => flash[:successEmail] %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :value => flash[:password] %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate,:start_year => 1950,:end_year => Date.today.year %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div id="showJobsDiv">
    <h2>Jobs</h2>
    <%= render :partial => 'jobs/form',
             :locals => {:form => f} %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => 'registrationSubmit'%>
  </div>
<% end %>
